{# templates/reset_password/reset.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset Your Password</h1>
    {{ form_start(form) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.token) }}
        <button class="btn">Reset Password</button>
    {{ form_end(form) }}
{% endblock %}
