{% extends 'base.html.twig' %}

{% block title %}Yêu cầu đặt lại mật khẩu{% endblock %}

{% block body %}
    <div class="w-full flex justify-center text-main">
        <div class="max-w-md w-full my-7 mx-10 bg-white rounded-lg text-center">
            <h1 class="text-2xl font-bold mb-4">Yêu cầu đặt lại mật khẩu</h1>
            {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
            <div class="mb-4"> Nhập mã xác nhận
                {{ form_widget(form.token, { 'attr': { 'class': 'form-control mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm' } }) }}
            </div>
            <div>
                {{ form_widget(form.submit, { 'attr': { 'class': 'w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' } }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
