{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex w-full text-main justify-center">
        <div class="text-3xl flex">
            {% if verify %}
                <p>You have verified before</p>
                <a class="font-extrabold ml-2" href="{{ path('login') }}">Login now</a>
            {% else %}
                <p>You are verify success</p>
            {% endif %}
        </div>

    </div>

{% endblock %}
