{# templates/successcategory.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Đặt hàng thành công{% endblock %}

{% block body %}
    <div class="w-full flex justify-center text-main">
        <div class="max-w-md w-full my-7 mx-10 bg-white rounded-lg text-center">
            <h1 class="text-2xl font-bold mb-4">Bạn đã đặt hàng thành công</h1>
            <a href="\" class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Tiếp tục mua hàng</a>
        </div>
    </div>
{% endblock %}

